@import "tailwindcss";

:root {
  --background-url: url("/s2.jpg");
  --background: #ffffff;
  --foreground: #000000;

  --font-mono: var(--font-jetbrains-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

/* Hide scrollbar but keep scroll functionality */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE & old Edge */
body {
  -ms-overflow-style: none;
}

nav a {
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 1px;
  background: white;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* ---------- BODY BACKGROUND ---------- */
body {
  background-image: var(--background-url);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  color: var(--foreground);
  font-family: var(--font-mono);
  min-height: 100vh;
  position: relative;
}

/* Dark overlay for readability */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  z-index: -1;
}

/* ---------- GLASS MORPHISM CARD ---------- */
.glass {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 2rem;
}

/* Dark mode glass adjustment */
@media (prefers-color-scheme: dark) {
  .glass {
    background: rgba(0, 0, 0, 0.3);
    border: 10px solid rgba(0, 0, 0, 0.1);
  }
}

/* Input placeholder alignment */
.input-placeholder-right::placeholder {
  text-align: right;
}

.glass-section {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 5px solid rgba(255, 255, 255, 0.08);
  box-shadow: 10 20px 60px rgba(0, 0, 0, 0.4);
  padding: 4rem 3rem;
  margin-bottom: 0.5rem;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
