@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  /* Connect JetBrains font */
  --font-mono: var(--font-jetbrains-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

.input-placeholder-right::placeholder {
  text-align: right;
}
